.user-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  min-height: calc(100vh - 7rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-header {
  color: #3d3d3d;
  padding-top: 4px;
  margin-bottom: 0;
}

.user-sub-header {
  max-width: 800px;
  margin-bottom: 3rem;
  color: grey;
  font-size: 14px;
  line-height: 25px;
}
