.post-detail-bg {
  min-height: calc(100vh - 7rem);
}

.post-detail-container {
  max-width: 800px;
  width: 90%;
  margin: 2rem auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.post-detail-header {
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.post-detail-date {
  color: gray;
  font-size: 13.5px;
}

.post-detail-delete {
  color: red;
  border: none;
  background-color: transparent;
  padding: 10px;
  /* box-shadow: 10px 10px 20px rgba(204, 30, 30, 0.2); */
  box-shadow: 10px 10px 20px rgba(206, 190, 190, 0.2);
  cursor: pointer;
  transition: 0.3s ease background-color;
  border-radius: 5px;
}

.post-detail-delete:hover {
  background-color: black;
}

.commentsSection {
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.comments-header {
  font-weight: 500;
}

.comments-date {
  font-size: 13px;
  margin-bottom: 0;
  color: gray;
}

.comments {
  margin-top: 5px;
  font-size: 15px;
  display: inline-block;
}

.comments-delete {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 17px;
  border: none;
  background-color: transparent;
  color: #8c65d3;
  cursor: pointer;
  transition: 0.3s ease color;
}

.comments-delete:hover {
  color: red;
}

.delete-comment-modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-comment-modal-container {
  width: 90%;
  max-width: 400px;
  height: 400px;
  z-index: 15;
  padding: 50px;
  background-color: white;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.7s 0.2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  border-radius: 5px;
}

.delete-comment-modal-container h3 {
  text-align: center;
}

.delete-comment-button-container {
  width: 60%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.delete-comment-button-container button {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  border: none;
  border-bottom: 1px dotted #131313;
  background-color: transparent;
  transition: 0.3s all ease;
  cursor: pointer;
}

.delete-comment-button-container button:hover {
  background-color: #8c65d3;
  color: white;
  border-radius: 5px;
  border-bottom: 1px dotted transparent;
}

.commentForm {
  margin-top: 30px;
  text-align: center;
}

.commentForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  height: 100px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.commentForm textarea:focus {
  border-color: #8c65d3;
}

.commentForm button {
  background-color: #8c65d3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.commentForm button:hover {
  background-color: #7444a1;
}

/* Added Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.post-detail-container {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .post-detail-bg {
    padding-bottom: 50px;
  }

  .post-detail-container {
    padding: 1rem;
  }

  .post-detail-header {
    font-size: 1.2rem;
  }

  .post-detail-date {
    font-size: 12px;
  }

  .post-detail-delete {
    font-size: 10px;
  }

  .post-detail-content {
    font-size: 15px;
  }

  .comments-delete {
    font-size: 15px;
  }

  .delete-comment-modal-container h3 {
    font-size: 17px;
  }

  .delete-comment-button-container button {
    font-size: 10px;
    color: black;
  }
}
