.homeContainerBg {
  width: 100%;
  background-color: #8c65d3;
}

.homeContainer {
  width: 100%;
  max-width: 2560px;
  height: 50vh;
  max-height: 900px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.homeFlexbox {
  width: 50%;
  transition: all 0.3s ease-in-out;
}

.homeFlexbox:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s 0.4s forwards;
}

.homeFlexbox:nth-child(1) img {
  width: 70%;
  height: 80%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 50%;
  padding-bottom: 30px;
}

.homeFlexbox:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textContainer {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s 1s forwards;
}

.headingOne,
.headingTwo {
  /* color: #3d3d3d; */
  color: white;
  transition: color 0.3s ease-in-out;
}

.headingOne {
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.headingTwo {
  font-weight: 400;
  margin-bottom: 2rem;
}

.icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

.featuresContainerBg {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}

.featuresContainer {
  width: 80%;
  max-width: 1920px;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}

.featureBox {
  width: 30%;
  max-width: 500px;
  height: 200px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  background: white;
  border-radius: 10px;
  border: 2px solid transparent;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s 1.4s forwards;
}

.featureBox:nth-child(2) {
  animation: slideUp 1s 1.5s forwards;
}

.featureBox:nth-child(3) {
  animation: slideUp 1s 1.6s forwards;
}

.featureBox:hover {
  transform: translateY(-10px);
  border: 2px solid #8c65d3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.featureBox h3 {
  color: #3d3d3d;
  margin-bottom: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.featureBox p {
  color: #777;
  line-height: 25px;
  transition: color 0.3s ease-in-out;
}

/* Testimonials Section */
.testimonialsContainer {
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}

.testimonialsContainerAnimation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s 1.8s forwards;
  /* background-color: red; */
}

.sectionTitle {
  color: #333;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.testimonial {
  width: 700px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: white;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.playIcon {
  font-size: 2rem;
  color: #8c65d3;
  margin-bottom: 1rem;
}

.testimonial p {
  color: #555;
  font-style: italic;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 25px;
  transition: all 0.3s ease-in-out;
}

.testimonial span {
  color: #777;
}

.testimonial:hover {
  border: 2px solid #8c65d3;
}

.testimonial:hover p {
  transform: scale(1.05);
}

/* ... Your existing styles ... */

.courseContainerBg {
  width: 100%;
  background-color: white;
}

.coursesContainer {
  width: 80%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0;
  background-color: white;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s 1.8s forwards;
}

.coursesContainer .sectionTitle {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 48.5%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #3d3d3d;
  letter-spacing: 1px;
  border-left: 5px solid #8c65d3;
}

.coursesContainer h3 {
  padding-left: 12px;
}

.courseCard {
  flex-basis: calc(33% - 1rem); /* Responsive 3 cards layout */
  /* width: 500px; */
  width: 50%;
  max-width: 700px;
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  overflow: hidden;
  text-align: center;
  border: 2px solid transparent;
}

.courseCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid #8c65d3;
}

.courseCard p {
  line-height: 25px;
}

.courseImageContainer {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* .courseImageContainer::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  z-index: 2;
} */

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
