.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.8rem;
  min-height: calc(100vh - 7rem);
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.7s 0.2s forwards;
}

.header {
  text-align: center;
  color: #3d3d3d;
}

.communitySubHeader {
  margin-bottom: 3rem;
  text-align: center;
  color: grey;
  font-size: 14px;
  line-height: 25px;
}

.searchContainer {
  position: relative;
}

.searchBar {
  width: 100%;
  padding: 1rem;
  margin-top: 15px;
  margin-bottom: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px 5px 0 0;
  outline: none;
  transition: border 0.3s;
  display: inline-block;
}

.searchBar:focus {
  border: 1px solid #8c65d3;
}

.searchModalBg {
  position: absolute;
  max-width: none;
  width: 100%;
  max-width: none;
  top: 65px;
  left: 0;
  padding: 15px;
  background-color: white;
  border: 2px solid #8c65d3;
  z-index: 10;
}

.searchModalContainer {
  z-index: 15;
}

.searchModalHeader {
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 1px dotted black;
}

.searchModalNoResult {
  text-align: center;
}

.communityLink {
  text-decoration: none;
}

.communityLink:link {
  color: #3d3d3d;
}

.communityLink:visited {
  color: #3d3d3d;
}

.communityNewPost {
  text-decoration: none;
  color: white;
}

.threadList {
  list-style-type: none;
  padding: 0;
}

.threadListSearch {
  list-style-type: none;
  padding: 0;
}

.threadItem {
  padding: 1.5rem 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(140, 46, 175, 0.2);
  transition: border 0.3s;
  cursor: pointer;
  border: 2px solid transparent;
}

.threadItem:hover {
  border: 2px solid #8c65d3;
}

.threadItemSearch {
  padding: 1.5rem 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(140, 46, 175, 0.2);
  transition: border 0.3s;
  cursor: pointer;
  border: 2px solid transparent;
}

.threadItemSearch:hover {
  border: 2px solid #8c65d3;
}

.communityPostDate {
  color: gray;
  font-size: 13px;
}

.threadTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 25px;
}

.threadDetails {
  color: #7a7a7a;
  line-height: 25px;
}

.newThreadBtn {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 10px;
  background-color: #8c65d3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
  font-weight: 500;
}

.newThreadBtn:hover {
  opacity: 0.4;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .header {
    font-size: 1.3rem;
  }

  .communitySubHeader {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  .searchModalBg {
    width: 100%;
  }

  .searchModalHeader {
    font-size: 18px;
  }

  .threadTitle {
    font-size: 1.1rem;
  }

  .communityPostDate {
    font-size: 12px;
  }

  .threadDetails {
    font-size: 0.9rem;
  }
}
