footer {
  width: 100%;
  height: 17rem;
  background-color: #9571d9;
  /* background-color: #8c65d3; */
}

.footer-container {
  width: 100%;
  height: 100%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.footer-flexbox {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
}

.footer-flexbox:nth-child(1) {
  padding-right: 25px;
  justify-content: center;
  align-items: center;
  gap: 15%;
  width: 90%;
  padding-bottom: 35px;
  border-bottom: 1px dotted white;
}

.footer-menu {
  list-style: none;
  font-size: 0.7vw;
  font-weight: bold;
  letter-spacing: 1px;
  height: 3rem;
}

.footer-submenu-container {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.footer-submenu {
  font-weight: lighter;
  list-style: none;
  font-size: 0.6vw;
}

.footer-link {
  text-decoration: none;
  color: white;
  transition: 0.3s color;
}

.footer-link:hover {
  color: orange;
}

.footer-flexbox:nth-child(2) {
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  width: 90%;
}

.footer-flexbox:nth-child(2) h3 {
  padding-bottom: 5px;
  font-size: 1.2vw;
  /* border-bottom: 2px solid white; */
  /* margin-bottom: 15px; */
}

.footer-flexbox:nth-child(2) p {
  font-size: 0.5vw;
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .footer-container {
    max-width: 800px;
  }

  .footer-flexbox:nth-child(1) {
    gap: 5rem;
  }
}

@media screen and (max-width: 767px) {
  footer {
    height: 6rem;
  }

  .footer-flexbox:nth-child(2) h3 {
    font-size: 15px;
  }

  .footer-flexbox:nth-child(2) p {
    font-size: 8px;
  }

  .footer-flexbox:nth-child(1) {
    display: none;
  }
}
