footer {
  width: 100%;
  height: 7rem;
  background-color: #8c65d3;
}

.footer-container {
  width: 100%;
  height: 100%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-flexbox {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
}

.footer-flexbox:nth-child(1) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15px;
}

.footer-flexbox:nth-child(1) h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
}

.footer-flexbox:nth-child(1) p {
  margin-top: 0;
  font-size: 9px;
}

.footer-flexbox:nth-child(2) {
  padding-right: 25px;
  justify-content: flex-end;
  align-items: center;
  gap: 3.5rem;
}

.footer-flexbox:nth-child(2) li {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .footer-flexbox:nth-child(1) h3 {
    font-size: 15px;
  }

  .footer-flexbox:nth-child(1) p {
    font-size: 8px;
  }

  .footer-flexbox:nth-child(2) {
    display: none;
  }
}
